{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Welcome...</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

<section id='home'>

    <body class=" bg-gray-900 ">
        <div id="loading-screen" class="fixed inset-0 flex items-center justify-center bg-gray-900 z-50">
            <div class="flex-col items-center">
                <div class=" w-12 h-12 border-4 border-gray-300 border-t-blue-600 rounded-full animate-spin"></div>
            </div>
            <p class="bold m-3 text-white">Loading... </p>
        </div>


        <div id="main-content" class="hidden">
            {% block content %}
            
                {% include './navbar.html' %}
                <div id="postModal" class="flex fixed inset-0 bg-black bg-opacity-50 items-center justify-center">
                    <div class="bg-white dark:bg-gray-800 p-6 rounded-lg max-w-md w-full">
                        <h2 class="text-xl font-bold text-gray-900 dark:text-gray-100">New Post</h2>
                        <form method="post" action="{% url 'createPost' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="flex justify-end space-x-2">
                                <button type="button" onclick="document.getElementById('postModal').classList.add('hidden')" class="px-4 py-2 bg-gray-200 text-gray-900 rounded">Cancel</button>
                                <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Post</button>
                            </div>
                        </form>
                    </div>
                </div>



            {% endblock %}
            
        </div>

        <script src="{% static 'InspiRy/js/loading.js' %}"></script>

    </body>

    </html>

</section>

    
</html>
