{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Welcome...</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

    <body class=" bg-gray-900 ">

        <div class='justify-items-center bg-gray-800 p-4 rounded-md m-4'>

            {% block content %}

            <form class='text-white justify-items-center' method="POST" action="">
                {% csrf_token %}
                <p>Are you sure you want to delete "{{obj}}"?</p>
                <a href="{{request.META.HTTP_REFERER}}">
                    <span class='bg-gray-500 rounded-md p-2 m-2 hover:bg-gray-600'>
                        Go back
                    </span>
                    </a>
                <input class='bg-gray-500 hover:bg-gray-600 hover:cursor-pointer rounded-md p-2 m-2' type="submit" value="Confirm" />

            {% endblock content%}

        </div>
    </body>

</html>
