{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
    <title>InspiRy</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>
    <body class="bg-gray-900">
        <section>
            {% block content %}

            {% include './navbar.html' %}

            {% endblock %}
        </section>

        <section id="postTitle" class="flex-auto rounded-md text-white m-2 text-bold text-2xl bg-gray-700 shadow-md">
            <p class="text-center">{{ user }}</p>
            <div class="h-24 w-24 rounded-full bg-white"></div>

        </section>


        <section>
            {% include './footer.html' %}
        </section>
        
    </body>
</html>
